@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: notoblack;
    src: url('../assets/fonts/Notoblack.ttf');
}
@font-face {
    font-family: notobold;
    src: url('../assets/fonts/Notobold.ttf');
}
@font-face {
    font-family: notolight;
    src: url('../assets/fonts/Notolight.ttf');
}
@font-face {
    font-family: notomedium;
    src: url('../assets/fonts/Notomedium.ttf');
}
@font-face {
    font-family: notoregular;
    src: url('../assets/fonts/Notoregular.ttf');
    @font-face {
        font-family: notosemibold;
        src: url('../assets/fonts/Notosemibold.ttf');
    }
}
@font-face {
    font-family: changa;
    src: url('../assets/fonts/changaregular.ttf');
}

h1{
    font-size: 3rem;
} 
h2 {
   font-size:2.5rem ;
}
h3{
font-size: 1.75rem;
}
h4{
font-size: 1.5rem ;
}
